body {
    font-family: 'Segoe UI';
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.card {
    background: white;
    width: 400px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 20px ;
    text-align: center;
}

/* The Month Selector Styling */
.calender {
    background-color: #e2e8f0;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

input[type="month"], input[type="number"] {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    font-size: 16px;
}

button {
    width: 96%;
    padding: 12px;
    margin-top: 15px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover { 
    background-color: #1d4ed8; 
}

.total-box {
    margin: 20px 0;
    padding: 15px;
    background-color: #ecfdf5;
    border: 1px solid #a7f3d0;
    border-radius: 8px;
}

.expense-item {
    display: flex;
    justify-content: space-between;
    background: #f8fafc;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #f1f5f9;
}

.delete-btn {
    color: #ef4444;
    cursor: pointer;
    font-weight: bold;
}